body{
  background-color: #efefef;
}
div.container{
  max-width: 400px;
  box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
  margin: 0vh auto 0 auto;
}
div#display{
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  border: 1px solid #999;
}
.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}
.content > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}
.buttondis{
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
#mosavy{
  background-color: orange;
  color: black;
}
#clear {
  background-color: orange;
  color: black;
}
.buttondis:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease-in-out;
}
